<%- include('./common/header.ejs') %>
<div class="w-full min-h-screen bg-zinc-800 flex justify-center py-7">
    <div class="w-3/4 bg-zinc-100 px-7 py-8 flex flex-wrap items-center rounded-lg">
        <div class="w-full flex-wrap flex justify-between items-center">
            <a href="/profile/<%= posts.user._id%>" class="text-2xl font-bold" >@<%= posts.user.username %></a><button class="px-2 py-2 mt-3 rounded-lg bg-red-500 text-white">Follow</button></div>
            <hr class="w-full border-zinc-800 mt-2 mb-2">
        <img src="/images/uploads/<%= posts.image%>" class="w-full 
        object-cover rounded-xl" alt="post img">
        <div class="w-full mx-3 px-1 py-6 flex flex-col justify-between">
                      
            <h2 class="text-xl font-semibold mt-2"><%= posts.title  %></h2>
            <h2 class="text-lg mt-2"><%= posts.desc %></h2>
            <h2 class="flex items-center w-full justify-between"><%= posts.tags %>
                <span class="flex flex-col text-center mt-2">
                    <a href="#" class="flex justify-center item-center"><svg class="w-8 h-8 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(233,21,21,1)"><path d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853Z"></path></svg></a>
                    <h2 class="font-bold text-md">1k</h2>
                </span>
            <!-- end of like -->
            </h2>
            
            <div class="flex flex-col overflow-y-scroll h-52 w-full bg-zinc-200 mt-4 px-2">
                <h2 class="text-lg font-bold">Comments</h2>
                <hr class="border-zinc-800 opacity-60 mb-2">
                <h2 class="text-md font-semibold">@username</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur est reiciendis provident dolorem consequatur unde aliquam. Maxime necessitatibus ea praesentium.</p>
                <h2 class="text-md font-semibold">@username</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur est reiciendis provident dolorem consequatur unde aliquam. Maxime necessitatibus ea praesentium.</p>
            </div>
            <!-- end of comment -->
            
        </div>
    </div>
</div>
<%- include('./common/footer.ejs') %>
